#projects {
  margin: 0 10%;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--light-blue);
}

.project-info {
  backdrop-filter: blur(10px);
}

.project-info a:hover {
  font-weight: bold;
  color: var(--light-blue);
}

.project-description {
  width: 500px;
  margin-bottom: 15px;
}

.tools-container {
  margin-bottom: 15px;
}

.project-tools {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

.tool {
  background-color: var(--light-blue);
  margin: 4px 0;
  padding: 3px 5px;
  border: 2px solid var(--black);
}

.project-img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--light-blue);
}
