/* resume */

#resume {
  margin: 100px 5% 0 5%;
  text-align: center;
  line-height: 1.5em;
  backdrop-filter: blur(10px);
}

.resume {
  margin-bottom: 20px;
}

.resume-link:hover {
  font-weight: bold;
  color: var(--light-blue);
}

.skills-title {
  margin-bottom: 10px;
}

.skill-type {
  text-decoration: underline;
}

#skills ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.skill {
  background-color: var(--light-blue);
  margin: 4px 0;
  padding: 3px 5px;
  border: 2px solid var(--black);
}

@media screen and (min-width: 600px) {
  #skills {
    display: flex;
    justify-content: space-around;
  }
}
