/* about */

#about {
  margin: 10px 0;
}

#about-title {
  text-align: center;
  margin-bottom: 5px;
}

#pic-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#pic-info img {
  height: 350px;
  width: 250px;
  border-radius: 10px;
  margin: 15px 0;
}

#about-info {
  width: 60%;
  line-height: 1.2em;
}
