.container {
  height: 100%;
}

.homepage {
  text-align: center;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

@keyframes title {
  0% {
    color: rgb(244, 40, 40);
  }
  25% {
    color: rgb(59, 214, 59);
  }
  50% {
    color: rgb(68, 68, 244);
  }
  100% {
    color: white;
  }
}

.intro-name {
  font-size: 50px;
  animation-name: title;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.home-intro {
  color: white;
}

.intro-emphasis {
  font-style: italic;
  text-shadow: 2px 2px 2px black;
}

@media screen and (min-width: 700px) {
  .homepage {
    display: flex;
    align-items: center;
    margin: 0 30%;
  }

  .home-intro {
    font-size: 25px;
  }

  .intro-name {
    font-size: 80px;
  }
}
