/* contact */

/* #contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#contact-title {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

#contact-form label {
  padding-right: 5px;
}

#contact-submit {
  align-self: center;
  width: 30%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
} */

.contacts {
  margin-top: 100px;
}

.contact {
  text-align: center;
  padding-bottom: 10px;
}

.contact h3 {
  padding-bottom: 5px;
}

.contact img {
  height: 175px;
  width: 175px;
}
