.contacts {
  margin-top: 100px;
  color: white;
}

.contact {
  text-align: center;
  padding-bottom: 10px;
}

.contact h3 {
  padding-bottom: 5px;
}

.contact img {
  height: 175px;
  width: 175px;
}

.contact img:hover {
  transform: scale(1.05);
}
