* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

/* nav */

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

span:hover {
  text-decoration: underline;
}

.navActive {
  color: green;
}

/* about */

#about {
  margin: 0 10%;
}

#about-title {
  text-align: center;
  margin-bottom: 5px;
}

/* portfolio */

#portfolio-title {
  text-align: center;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-around;
}

.project {
  padding: 5px;
}

img {
  height: 300px;
  width: 250px;
  border: 1px black solid;
}
