* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

/* nav */

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

span:hover {
  text-decoration: underline;
}

.navActive {
  color: green;
}
