* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0 0;
  padding: 10px;
  border: 1px solid black;
  align-items: center;
}

/* nav */

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

span:hover {
  text-decoration: underline;
}

.navActive {
  color: green;
}

/* about */

#about {
  margin: 10px 5%;
}

#about-title {
  text-align: center;
  margin-bottom: 5px;
}

#pic-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#pic-info img {
  height: 350px;
  width: 270px;
  border-radius: 10px;
}

#about-info {
  width: 60%;
  line-height: 1.2em;
}

/* portfolio */

#portfolio-title {
  text-align: center;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid black;
  box-shadow: 3px 4px 3px 3px;
  margin: 10px 0;
}

img {
  height: 300px;
  width: 300px;
}

.project a {
  padding: 2px 5px;
}

.project a:hover {
  color: blue;
}

/* contact */

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#contact-title {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

#contact-form label {
  padding-right: 5px;
}

#contact-submit {
  align-self: center;
  width: 30%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* resume */

#resume {
  margin: 0 5%;
  text-align: center;
  line-height: 1.5em;
}
